<form action="/" method="POST">
  <div class="container">
    <h3>Build Your Own Shorten URL!</h3>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="shorten-icon">
    <input type="url" name="url" placeholder="Typing URL..." required />
    <button class="shorten" type="submit">Shorten!</button>
  </div>
</form>